<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="globalCompileVariablesProvider" class="pl.matisoft.soy.global.compile.DefaultCompileTimeGlobalModelResolver">
        <property name="data">
            <map>
                <entry key="siteUrl" value="http://www.mysite.com" />
            </map>
        </property>
    </bean>

    <bean id="localeProvider" class="pl.matisoft.soy.locale.SpringLocaleProvider" />

    <bean id="globalRuntimeVariablesProvider" class="pl.matisoft.soy.global.runtime.DefaultGlobalRuntimeModelResolver">
        <property name="resolvers">
            <list>
                <bean class="pl.matisoft.soy.global.runtime.resolvers.RequestParametersDataResolver" />
                <bean class="pl.matisoft.soy.global.runtime.resolvers.RequestHeadersDataResolver" />
                <bean class="pl.matisoft.soy.global.runtime.resolvers.CookieDataResolver" />
            </list>
        </property>
    </bean>

    <bean id="templateFileResolver" class="pl.matisoft.soy.template.DefaultTemplateFilesResolver">
        <property name="hotReloadMode" value="${linkovich.view.hot_reload}" />
        <property name="templatesLocation" value="/WEB-INF/templates" />
    </bean>

    <bean id="tofuCompiler" class="pl.matisoft.soy.compile.DefaultTofuCompiler">
        <property name="compileTimeGlobalModelResolver" ref="globalCompileVariablesProvider" />
        <property name="hotReloadMode" value="${linkovich.view.hot_reload}" />
    </bean>

    <bean id="soyMsgBundleResolver" class="pl.matisoft.soy.bundle.DefaultSoyMsgBundleResolver">
        <property name="messagesPath" value="xliffs/messages" />
    </bean>

    <bean id="toSoyDataConverter" class="pl.matisoft.soy.data.DefaultToSoyDataConverter" />

    <bean id="soyRenderer" class="pl.matisoft.soy.render.DefaultTemplateRenderer">
        <property name="hotReloadMode" value="${linkovich.view.hot_reload}" />
        <property name="toSoyDataConverter" ref="toSoyDataConverter" />
    </bean>

    <bean id="compiledTemplatesHolder" class="pl.matisoft.soy.holder.DefaultCompiledTemplatesHolder">
        <property name="hotReloadMode" value="${linkovich.view.hot_reload}" />
        <property name="preCompileTemplates" value="false" />
        <property name="tofuCompiler" ref="tofuCompiler" />
        <property name="templatesFileResolver" ref="templateFileResolver" />
    </bean>

    <bean id="viewResolver" class="pl.matisoft.soy.SoyTemplateViewResolver">
        <property name="compiledTemplatesHolder" ref="compiledTemplatesHolder" />
        <property name="templateRenderer" ref="soyRenderer" />
        <property name="hotReloadMode" value="${linkovich.view.hot_reload}" />
        <property name="modelAdjuster">
            <bean class="pl.matisoft.soy.data.adjust.SpringModelAdjuster" />
        </property>
        <property name="localeProvider" ref="localeProvider" />
        <property name="globalRuntimeModelResolver" ref="globalRuntimeVariablesProvider" />
        <property name="soyMsgBundleResolver" ref="soyMsgBundleResolver" />
    </bean>

    <bean id="hashFileGenerator" class="pl.matisoft.soy.ajax.hash.MD5HashFileGenerator">
        <property name="hotReloadMode" value="${linkovich.view.hot_reload}" />
    </bean>

    <bean id="templateUrlComposer" class="pl.matisoft.soy.ajax.url.DefaultTemplateUrlComposer">
        <property name="hashFileGenerator" ref="hashFileGenerator" />
        <property name="templateFilesResolver" ref="templateFileResolver" />
        <property name="siteUrl" value="http://www.mysite.com" />
    </bean>

    <bean id="ajaxSoyController" class="pl.matisoft.soy.ajax.SoyAjaxController">
        <property name="localeProvider" ref="localeProvider" />
        <property name="soyMsgBundleResolver" ref="soyMsgBundleResolver" />
        <property name="templateFilesResolver" ref="templateFileResolver" />
        <property name="tofuCompiler" ref="tofuCompiler" />
        <property name="hotReloadMode" value="${linkovich.view.hot_reload}" />
        <property name="cacheControl" value="public, max-age=86400" /> <!-- one year -->
        <property name="expiresHeaders" value="Mon, 16 May 2050 20:00:00 GMT" />
        <property name="outputProcessors">
            <list>
                <bean class="pl.matisoft.soy.ajax.process.google.GoogleClosureOutputProcessor" />
            </list>
        </property>
        <property name="authManager">
            <bean class="pl.matisoft.soy.ajax.auth.ConfigurableAuthManager">
                <property name="allowedTemplates">
                    <list>
                        <value>ajax_search_makes</value>
                        <value>ajax_search_models</value>
                        <value>ajax_check_distance</value>
                        <value>ajax_adnav</value>
                        <value>ajax_similar_ads</value>
                        <value>ajax_google_ad_info</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

</beans>
