{namespace linkovich.demo}

/**
 * @param words The words to display
 */
{template .hello}
  <link rel="stylesheet" href="/resources/css/sass/global.css" />
  <ul>
    {foreach $word in $words}
      <li>{$word}</li>
    {/foreach}
  </ul>
{/template}
